Repository opsmill/infrahub-demo-dc-fabric, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, type/documentation

vale
  .github/workflows/ci.yml
  .vale.ini
  .vale/styles/Infrahub/branded-terms-case-swap.yml
  .vale/styles/Infrahub/colon-space.yml
  .vale/styles/Infrahub/eg-ie.yml
  .vale/styles/Infrahub/oxford-comma.yml
  .vale/styles/Infrahub/sentence-case.yml
  .vale/styles/Infrahub/simple-easy.yml
  .vale/styles/Infrahub/spelling.yml
  .vale/styles/Infrahub/swap.yml
  .vale/styles/spelling-exceptions.txt
  docs/docs/readme.mdx
  docs/docs/step_by_step.mdx
Labels: group/ci, type/documentation

fix ci
  .github/workflows/ci.yml
Labels: group/ci

test vale ci
  .github/workflows/ci.yml
Labels: group/ci

vale ci
  .github/workflows/ci.yml
Labels: group/ci

cloudflare docs
  .github/build-docs.sh
Labels: group/ci

chmod
  .github/build-docs.sh
Labels: group/ci

load snippets from files
  .gitignore
  docs/docs/step_by_step.mdx
  docs/package-lock.json
  docs/package.json
  tests/docs/0001_graphql_add_repo.gql
  tests/docs/0002_shell_run_generator.sh
  tests/test_graphql.yml
  tests/test_shell_scripts.py
Labels: type/documentation

fix lint
  tests/test_shell_scripts.py
Labels: none

moar lint
  tests/test_shell_scripts.py
Labels: none

fixes
  docs/code_snippets/0001_graphql_add_repo.gql
  docs/code_snippets/0002_shell_run_generator.sh
  docs/docs/step_by_step.mdx
  tests/test_graphql.yml
  tests/test_shell_scripts.py
Labels: type/documentation

more
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
  README.md
  infrahub-demo-dc-fabric.excalidraw.svg
  poetry.lock
  pyproject.toml
Labels: none

update
  README.md
  infrahub-demo-dc-fabric.excalidraw.svg
Labels: none

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
